<form [formGroup]="createCountryForm" (ngSubmit)="save()" class="p-4 bg-light border rounded shadow-sm">
  <h4 class="mb-3">Create Country</h4>
  
  <div class="form-group">
    <label for="name" class="font-weight-bold">Country Name</label>
    <input id="name" formControlName="name" class="form-control" placeholder="Enter country name" />
    <div *ngIf="createCountryForm.get('name')?.invalid && (createCountryForm.get('name')?.touched || createCountryForm.get('name')?.dirty)" class="text-danger">
      <div *ngIf="createCountryForm.get('name')?.errors?.required">Country Name is required.</div>
      <div *ngIf="createCountryForm.get('name')?.errors?.maxlength">Maximum length is 32 characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="code" class="font-weight-bold">Country Code</label>
    <input id="code" formControlName="code" class="form-control" placeholder="Enter country code" />
    <div *ngIf="createCountryForm.get('code')?.invalid && (createCountryForm.get('code')?.touched || createCountryForm.get('code')?.dirty)" class="text-danger">
      <div *ngIf="createCountryForm.get('code')?.errors?.required">Country Code is required.</div>
      <div *ngIf="createCountryForm.get('code')?.errors?.maxlength">Maximum length is 3 characters.</div>
    </div>
  </div>

  <div class="form-group">
    <label for="isActive" class="font-weight-bold">Is Active</label>
    <div>
      <input id="isActive" type="checkbox" formControlName="isActive" class="form-check-input" />
      <label class="form-check-label" for="isActive">Active</label>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="saving">Save</button>
</form>
