<div class="container mt-4">
  <h2 class="mb-4">My Links</h2>

  
  <div *ngFor="let category of categories" class="mb-4">
    <div class="card">
      <div class="card-header bg-light text-white">
        <h3 class="mb-0">{{ category.name }}</h3> 
      </div>
      <div class="card-body">
        <ul class="list-group">
          <li *ngFor="let link of activeLinksByCategory[category.id]" class="list-group-item">
            <!-- <a [href]="link.url" class="text-decoration-none" target="_blank"> -->
              <img 
              [src]="link.imageUrl" 
              alt="{{ link.linkName }}" 
              class="img-thumbnail mr-3" 
              width="50" 
              height="50" 
              *ngIf="link.imageUrl">
              <a (click)="openLink(link.linkUrl)" class="text-decoration-none">
                
              <strong>{{ link.linkName }}</strong> - <span class="text-muted">{{ link.linkUrl }}</span>
            </a>
          </li>
        </ul>
        <p *ngIf="!activeLinksByCategory[category.id]?.length" class="text-danger mt-3">No active links available.</p> 
      </div>
    </div>
  </div>
</div>
