<div class="container mt-4">
  <h2 class="mb-4">My Links</h2>

  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          
        </div>
        <div class="col-6 text-right">
          <a href="javascript:;" class="btn bg-blue" (click)="createLink()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" | localize }}
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Row for MultiSelect and AutoComplete -->
  <div class="row mb-3 align-items-center">
    <div class="col-md-6">
      <p-multiSelect 
        [options]="searchEngines" 
        [(ngModel)]="selectedSearchEngines" 
        optionLabel="name" 
        placeholder="Choose search engines"
        (onChange)="onSearchEngineChange($event)"
        display="chip"
        appendTo="body"
      ></p-multiSelect>
    </div>

    <div class="col-md-6">
      <div class="input-group">
        <p-autoComplete 
          [(ngModel)]="searchQuery" 
          [suggestions]="filteredSuggestions"

          field="name"
          placeholder="Search something..."
        ></p-autoComplete>
        <button class="btn btn-primary ml-1" type="button" (click)="performSearch()">
          <i class="pi pi-search"></i>
        </button>
       
      </div>
    </div>
  </div>

  <div cdkDropList class="category-list" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let category of categories; let i = index" cdkDrag class="mb-4 category-item">
      <div class="card">
        <div class="card-header bg-light text-dark d-flex justify-content-between align-items-center">
          <h3 class="mb-0">{{ category.name }}</h3>
          <span class="cdk-drag-handle draggable-handle">
          </span>
        </div>
        <div class="card-body">
          <ul class="list-group" cdkDropList (cdkDropListDropped)="dropLink($event, category.id)">
            <li *ngFor="let link of activeLinksByCategory[category.id]; let j = index" cdkDrag class="list-group-item d-flex align-items-center">
              <img [src]="link.imageUrl" alt="{{ link.linkName }}" class="img-thumbnail mr-3" width="50" height="50" *ngIf="link.imageUrl" />
              <a (click)="openLink(link.linkUrl)" class="text-decoration-none">
                <strong>{{ link.linkName }}</strong> - <span class="text-muted">{{ link.linkUrl }}</span>
              </a>
            </li>
          </ul>
          <p *ngIf="!activeLinksByCategory[category.id]?.length" class="text-danger mt-3">
            No active links available.
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>
